* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  background: #256262;
  overflow: hidden;
}
.heading {
  color: #dddddd;
  margin: 50px auto;
  text-align: center;
}

.calculator_grid {
  margin-top: 40px;
  display: grid;
  justify-content: center;

  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(50px, auto) repeat(5, 80px);
}

.calculator_grid > button {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
}
.calculator_grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;

  font-size: 30px;

  align-items: flex-end;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous_operand {
  font-size: 1.5rem;
}
.output .current_operand {
  font-size: 2.5rem;
}
